@import "../../../var.css";

.container {
    padding: 20px;
}

.notes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 20px;
}

.noteItem {
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.bannerImage {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

.noteTitle{
    text-align: center;
    color: var(--color-text);
    font-size: 3dvh;
}

.noteContent {
    padding: 15px;
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buttonContainer {
    text-align: center;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.deleteButton, .editButton {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.deleteButton {
    background-color: #ff4d4d; /* Red */
}

.deleteButton:hover {
    background-color: #cc0000; /* Darker red */
}

.editButton {
    background-color: #007BFF; /* Blue */
}

.editButton:hover {
    background-color: #0056b3; /* Darker blue */
}

@media (min-width: 600px) {
    .bannerImage {
        height: 100px;
    }
}

@media (min-width: 600px) {
    .notes {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
    .bannerImage {
        height: 200px;
    }
}

@media (min-width: 900px) {
    .notes {
        grid-template-columns: repeat(3, minmax(200px, 1fr));
    }
    .bannerImage {
        height: 300px;
    }
}

@media (min-width: 1200px) {
    .notes {
        grid-template-columns: repeat(4, minmax(200px, 1fr));
    }
    .bannerImage {
        height: 400px;
    }
}