@import "../../../var.css";

.container {
    padding: 20px;
}

.title {
    margin-bottom: 20px;
}

.notes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
}

.noteItem {
    background: #f9f9f9; /* Couleur de fond légère */
    border-radius: 10px; /* Bords arrondis */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Ombre subtile */
    overflow: hidden; /* Cache les débordements, important pour les bords arrondis */
    display: flex;
    flex-direction: column;
}

.noteImage {
    width: 100%;
    height: auto;
    max-height: 120px; /* Hauteur fixe pour l'image */
    object-fit: cover; /* S'assure que l'image couvre la zone */
}

.noteContent {
    padding: 15px;
    flex: 1; /* Prend l'espace restant */
}

.noteContent p {
    margin: 5px 0;
}

.buttonContainer {
    text-align: center;
    margin-top: 10px;
}

.deleteButton {
    padding: 10px 20px;
    background-color: #ff4d4d; /* Rouge */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.deleteButton:hover {
    background-color: #cc0000; /* Rouge plus foncé */
}

@media (min-width: 600px) {
    .notes {
        grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
}

@media (min-width: 900px) {
    .notes {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) {
    .notes {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1600px) {
    .notes {
        grid-template-columns: repeat(5, 1fr);
    }
}