@import "../../../var.css";

.container {
    margin-top: 76px;
    color: var(--color-text);
    margin-left: 10%;
    margin-right: 10%;
}

.infoLivre {
    display: flex;
    justify-content: baseline;
    margin-bottom: 1rem;
}

.content {
    background-color: white;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.react-quill {
    height: calc(100vh - 300px);
    margin-bottom: 1rem;
}

.buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
}

.button{
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .react-quill {
        height: calc(100vh - 200px);
    }

    .buttonContainer {
        justify-content: center;
    }

    .button {
        width: 100%;
    }
}