@import "../../../var.css";

.container {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--color-dark);
    box-shadow: 0 0 10px var(--color-primary),
                 0 0 20px var(--color-primary),
                 0 0 40px var(--color-primary);
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 5px;
    font-size: 16px;
    color: var(--color-text);
    display: block; /* Make sure labels are above inputs */
}

input[type='text'],
input[type='email'],
input[type='password'] {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #ffffff;
    color: #333333;
}

input[type='text']::placeholder, /* Placeholder styles for facultative fields */
input[type='email']::placeholder {
    color: #aaa;
    font-style: italic;
}

input.invalid {
    border: 2px solid red;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-primary);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--color-secondary);
}

button:active {
    transform: scale(0.98);
}